---
import HeaderMini from "../../components/HeaderMini.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Salones">
    <HeaderMini />
    <div class="flex-grow flex items-center justify-center mt-16 text-center">
        <h1 class="text-4xl tracking-widest text-[#d47907]">Tapicería</h1>
    </div>
    <div
        class="flex-grow flex flex-col md:flex-row items-center justify-center mt-16 mx-10 text-center gap-x-8 gap-y-5"
    >
        <div>
            <a href="/tapiceria/sofas">
                <img
                    src="/indexTa/tapi-sillon07.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripción de la imagen 1"
                />
            </a>
            <h2 class="text-2xl text-[#d47907] mt-5">Sofas y Chaislongue</h2>
        </div>
        <div>
            <a href="/tapiceria/sillones">
                <img
                    src="/indexTa/tapi09.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripción de la imagen 2"
                />
            </a>
            <h2 class="text-2xl text-[#d47907] mt-5">Sillones de relax</h2>
        </div>
        <div>
            <a
                href="https://www.aquaclean.com/es-es/viste-tu-sofa"
                target="_blank"
                rel="noopener"
            >
                <img
                    src="/indexTa/tapi01.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripción de la imagen 2"
                />
            </a>
            <h2 class="text-2xl text-[#d47907] mt-5">Simuladores</h2>
        </div>
    </div>
</Layout>
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
</style>
