---
import HeaderMini from "../../components/HeaderMini.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Juveniles">
    <HeaderMini />
    <div class="flex-grow flex items-center justify-center mt-16  text-center">
        <h1 class="text-4xl tracking-widest naranjaMEPT">Aux Deco</h1>
    </div>
    <div
        class="flex-grow flex items-center justify-center mt-16 mx-10 text-center gap-x-8"
    >
        <div>
            <a href="/auxdeco/aparadores">
                <img
                    src="/indexAu/auxi-apara08.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripci贸n de la imagen 1"
                />
            </a>
            <h2 class="text-2xl text-white mt-5">Aparadores</h2>
        </div>
        <div>
            <a href="/auxdeco/entradas">
                <img
                    src="/indexAu/auxi-entra22.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripci贸n de la imagen 2"
                />
            </a>
            <h2 class="text-2xl text-white mt-5">Entradas</h2>
        </div>
        <div>
            <a href="/auxdeco/mesas">
                <img
                    src="/indexAu/auxi-mesa04.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripci贸n de la imagen 3"
                />
            </a>
            <h2 class="text-2xl text-white mt-5">Mesas</h2>
        </div>
        <div>
            <a href="/auxdeco/varios">
                <img
                    src="/indexAu/auxi-auxi02.jpg"
                    class="h-80 rounded-lg relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0"
                    alt="Descripci贸n de la imagen 3"
                />
            </a>
            <h2 class="text-2xl text-white mt-5">Varios</h2>
        </div>
    </div>
</Layout>
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
</style>
