---
import Header from "@/components/Header.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="404 no encontrado">
    <Header/>
    <div class="flex justify-center items-center mt-20">
        <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404 Image" style="max-width: 100%; height: auto;">
    </div>
</Layout>
