---
import HeaderMini from "@/components/HeaderMini.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Descanso">
    <HeaderMini />
    <div class="flex justify-center items-center">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/SITIO-EN-CONSTRUCCION.jpg/1280px-SITIO-EN-CONSTRUCCION.jpg"
            alt=""
            class="h-96 mt-10 hover:scale-105 transition animate-duration-500"
        />
    </div>
    <div class="container mx-auto p-8">
        <h1 class="text-4xl text-[#d47907] text-center my-10">
            Productos para tu Descanso
        </h1>

        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            <!-- Sección Colchones -->
            <div class="space-y-4">
                <div
                    class="bg-gray-200 aspect-w-16 aspect-h-9 rounded-lg overflow-hidden"
                >
                    <!-- Aquí irá la imagen del colchón -->
                    <div class="flex justify-center items-center h-full">
                        Slider de Colchón
                    </div>
                </div>
                <h2 class="text-2xl text-[#d47907] text-center">Colchones</h2>
                <p class="text-black text-center">
                    Descubre la comodidad con nuestra selección de colchones
                    diseñados para un descanso perfecto.
                </p>
            </div>

            <!-- Sección Somieres -->
            <div class="space-y-4">
                <div
                    class="bg-gray-200 aspect-w-16 aspect-h-9 rounded-lg overflow-hidden"
                >
                    <!-- Aquí irá la imagen del somier -->
                    <div class="flex justify-center items-center h-full">
                        Slider de Somier
                    </div>
                </div>
                <h2 class="text-2xl text-[#d47907] text-center">Somieres</h2>
                <p class="text-black text-center">
                    Elige el soporte ideal para tu colchón con nuestros somieres
                    de alta calidad.
                </p>
            </div>

            <!-- Sección Almohadas -->
            <div class="space-y-4">
                <div
                    class="bg-gray-200 aspect-w-16 aspect-h-9 rounded-lg overflow-hidden"
                >
                    <!-- Aquí irá la imagen de la almohada -->
                    <div class="flex justify-center items-center h-full">
                        Slider de Almohada
                    </div>
                </div>
                <h2 class="text-2xl text-[#d47907] text-center">Almohadas</h2>
                <p class="text-black text-center">
                    Encuentra la almohada perfecta que te ayudará a descansar
                    mejor cada noche.
                </p>
            </div>
        </div>
    </div>
</Layout>
