---
import LogoMEP from "./icons/LogoMEP.astro";
---

<LogoMEP class="w-1/2 sm:w-auto size-44 hover:scale-105 transition  mt-3"/>
<a class="text-white text-4xl bg-[#7f7f7f] hover:bg-[#9f9f9f] hover:scale-105 transition p-10 rounded-xl" href="/#">
    Llevame al inicio de nuevo!
</a>
