---
import LogoMEPmini from "./icons/LogoMEPmini.astro";
---

<div class="flex flex-col bg-[#7f7f7f] text-pretty mt-10 rounded-xl mx-24 p-6">
    <div class="flex justify-center items-center bg-[#404040] w-full rounded-md mb-5 ">
        <h2 class="text-3xl flex items-start tracking-widest text-white py-2">
            <span class=" me-5 text-start"><LogoMEPmini class="size-8"/></span>Conócenos
        </h2>
    </div>
    <div>
        <p class="mb-4">Bienvenido a Muebles El Puente: Transformando Espacios, Creando Hogares.</p>
        <p class="mb-4">
            Desde hace más de cuatro décadas, en Muebles El Puente nos hemos
            dedicado a redefinir el concepto de hogar a través de nuestra amplia y
            renovada gama de productos y servicios.
        </p>
        <p class="mb-4">
            Nos enorgullece ofrecer calidad y personalización en cada detalle, lo que nos ha
            ganado la confianza de una sólida base de clientes que buscan en nosotros la clave para la
            decoración ideal de sus espacios: ya sea en dormitorios, salones,
            mobiliario juvenil, tapicerías y mucho más.
        </p>
        <p>
            En Muebles El Puente, no solo encontrarás lo que necesitas para tu casa, sino también la
            inspiración y el asesoramiento que te ayudarán a convertirla en el hogar
            de tus sueños.
        </p>
    </div>
</div>
