---
import Facebook from "./icons/Facebook.astro";
import Gmail from "./icons/Gmail.astro";
import LogoMEPmini from "./icons/LogoMEPmini.astro";
import Phone from "./icons/Phone.astro";
import Tiktok from "./icons/Tiktok.astro";
import Whatsapp from "./icons/Whatsapp.astro";
---

<footer class="rounded-lg shadow m-4 bg-[#7f7f7f]">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-wrap items-center justify-between">
        <LogoMEPmini class="mb-4 size-7 md:mb-0" />
        <span class="text-sm text-center text-white w-full md:w-auto mb-4 md:mb-0 md:ms-10">2024 <a href="https://muebleselpuente.com/" class="hover:underline">Muebles el Puente ®</a>. Todos los derechos reservados.</span>
        <ul class="flex justify-center w-full md:w-auto mb-4 md:mb-0 md:ms-10 flex-wrap items-center text-sm font-medium text-white">
            <li><a href="#" class="naranjaMEP transition me-4 md:me-6">Localización</a></li>
            <li><a href="#" class="naranjaMEP transition me-4 md:me-6">Aviso legal</a></li>
            <li><a href="#" class="naranjaMEP transition me-4 md:me-6">Politica de Privacidad</a></li>
            <li><a href="#" class="naranjaMEP transition me-4 md:me-6">Politica de Cookies</a></li>
        </ul>
        <ul class="flex justify-center w-full md:w-auto gap-4 items-center sm:mt-0">
            <li>
                <a
                    class="relative group transition"
                    data-tooltip="Llámanos: +1 (234) 567-8901"
                    onmouseover="document.querySelector('.tooltip').classList.remove('hidden')"
                    onmouseout="document.querySelector('.tooltip').classList.add('hidden')"
                >
                    <Phone class="size-7 hover:scale-90 transition" />
                    <span
                        class="hidden absolute w-40 text-2xl p-2 bg-[#303030] transition text-white rounded-lg z-10 -mt-36 -ml-3 tooltip"
                    >
                        Llámanos: 925 400 093
                    </span>
                </a>
            </li>
            <li><a href="https://wa.me/672432837" target="_blank" rel="noopener noreferrer"><Whatsapp class="size-6 hover:scale-90 transition" /></a></li>
            <li><a href="https://www.facebook.com/muebleselpuente" target="_blank" rel="noopener noreferrer"><Facebook class="size-6 hover:scale-90 transition" /></a></li>
            <li><a href="mailto:info@muebleselpuente.com"><Gmail class="size-6 hover:scale-90 transition" /></a></li>
            <li><a href="https://www.tiktok.com/@muebleselpuente" target="_blank" rel="noopener noreferrer"><Tiktok class="size-6 hover:scale-90 transition" /></a></li>
        </ul>
    </div>
</footer>
