---
import Facebook from "./icons/Facebook.astro";
import Gmail from "./icons/Gmail.astro";
import LogoMEPmini from "./icons/LogoMEPmini.astro";
import Phone from "./icons/Phone.astro";
import Tiktok from "./icons/Tiktok.astro";
import Whatsapp from "./icons/Whatsapp.astro";


---

<footer class=" rounded-lg  shadow m-4 bg-[#7f7f7f]">
    <div class="w-full  mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <LogoMEPmini class="size-8"/> 
      <span class="text-sm  ms-10 sm:text-center text-white">2024 <a href="https://muebleselpuente.com/" class="hover:underline">Muebles el Puente ®</a>. Todos los derechos reservados.
    </span>
    <ul class="flex ms-10 flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Localización</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
    <ul class="flex ms-10 gap-4 flex-wrap items-center mt-3 sm:mt-0">
        <li>
            <a href="" >
                <Phone class="size-7 hover:scale-90 transition"/>
            </a>
        </li>
        <li>
            <Whatsapp class="size-6 hover:scale-90 transition"/>
        </li>
        
        <li>
            <Facebook class="size-6 hover:scale-90 transition"/>
        </li>
        <li>
            <Gmail class="size-6 hover:scale-90 transition"/>
        </li>
        <li>
            <Tiktok class="size-6 hover:scale-90 transition"/>
        </li>
    </ul>
    </div>
</footer>

