---
import LogoMEP from "./icons/LogoMEP.astro"
import LogoMEPmini from "./icons/LogoMEPmini.astro"

const navItems = [
  {
    title: "Infantiles",
    label: "infantiles",
    url: "infantiles",
  },
  {
    title: "Juveniles",
    label: "juveniles",
    url: "juveniles",
  },
  {
    title: "Rústicos",
    label: "rusticos",
    url: "rusticos",
  },
]
---

<div class="flex justify-center items-center mt-10">
  <nav class="flex  py-2 px-14 text-xl font-medium rounded-lg gap-x-14 text-gray-600 dark:text-gray-200 justify-center items-center flex-wrap">
      {
          navItems.map((link) => (
              <a
              class="relative block px-5 rounded-lg  hover:bg-[#7F7F7F] py-2 naranjaMEP transition"
                  aria-label={link.label}
                  href={link.url}
              >
                  {link.title}
              </a>
          ))
      }
  </nav>
</div>

<style>
  @media (max-width: 640px) {
    .naranjaMEP {
      font-size: 14px;
    }
  }
</style>
