---
import LogoMEPmini from "./icons/LogoMEPmini.astro"

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#",
  },
  {
    title: "Dormitorios",
    label: "dormitorios",
    url: "/dormitorios",
  },
  {
    title: "Salones",
    label: "salones",
    url: "/salones",
  },
  {
    title: "Juveniles",
    label: "juveniles",
    url: "/juveniles",
  },
  {
    title: "Tapicería",
    label: "tapiceria",
    url: "/tapiceria",
  },
  {
    title: "Descanso",
    label: "descanso",
    url: "/descanso",
  },
  {
    title: "Aaux Deco",
    label: "aux deco",
    url: "/auxdeco",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/contacto",
  }

]
---

<header class="flex justify-center items-center mt-7">
  <nav class="flex bg-grisC py-2 px-14 text-lg font-medium rounded-lg gap-x-1 text-gray-600 dark:text-gray-200 justify-center items-center flex-wrap">
    <LogoMEPmini class="size-7 me-5" />
      {
          navItems.map((link) => (
              <a
              class="relative block px-5 rounded-lg hover:bg-[#404040] py-2 naranjaMEP transition"
                  aria-label={link.label}
                  href={link.url}
              >
                  {link.title}
              </a>
          ))
      }
  </nav>
</header>

<style>
  @media (max-width: 640px) {
    .naranjaMEP {
      font-size: 14px;
    }
  }
</style>
