---
import type { Image } from "../types";

interface ImageGalleryProps {
    path: string;
}
// @ts-ignore
const { path }: ImageGalleryProps = Astro.props;
const title = path.split("/").pop();

async function fetchImages(path: string): Promise<Image[]> {
    try {
        const response = await fetch(`https://apimep.azurewebsites.net/folders/${path}`);
        if (!response.ok) {
            throw new Error("Failed to fetch images");
        }
        const data = await response.json();
        return data.images;
    } catch (error) {
        console.error("Error fetching images:", error);
        return [];
    }
}

const images = await fetchImages(path);
---     

<div class="flex flex-wrap mt-8 mx-10 text-center justify-center items-center">
    {
        images.length === 0 && (
            <h1 class="text-xl text-[#d47907]">No images found in {title}</h1>
        )
    }
    {
        images.map((value: Image, index: number) => (
            <div class="px-2 w-full md:w-1/3 mb-4">
                <img
                    src={value.toString()}
                    alt={`Image ${index + 1}`}
                    class="h-80 rounded-lg w-full object-cover "
                    loading="lazy"
                />
                <h2 class="text-[#d47907] rounded-lg text-2xl mt-3 tracking-wider">
                    {title} {index + 1}
                </h2>
            </div>
        ))
    }
</div>
