<div class="flex items-center justify-center mt-28 ">
    <img
        src="../../Image2.png"
        alt="CAMBIAR ESTA FOTO tPORFAVOR"
        class="rounded-xl"
        style="height: 17rem;
        width: 50rem;
    "
    />
</div>
