<div class="flex items-center justify-center mt-28">
    <img
        src="/public/FotoCambiar.png"
        alt="CAMBIAR ESTA FOTO PORFAVOR"
        class="rounded-lg"
        style="height: 20rem;
    "
    />
</div>
