<div class="flex items-center justify-center mt-28">
    <img
        src="/FotoCambiar.png"
        alt="CAMBIAR ESTA FOTO tPORFAVOR"
        class="rounded-xl"
        style="height: 20rem;
    "
    />
</div>
