---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth flex flex-col m-0 bg-[#404040]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/LogoMEPmini.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<SpeedInsights />
		<main id="root" >
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "ITC Bauhaus";
		src: url("../components/fonts/mepfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	html {
		font-family: ITC Bauhaus;
		scrollbar-width: none;
	}
	#root {
		flex: 1 0 auto; 
	}
	.naranjaMEP:hover {
		color: #c4901d;
	}
	.naranjaMEPT {
		color: #c4901d;
	}


</style>
